
.vscode/settings.json
.screenshot2020-1026_19-16-55-103337.png
sorn.code-workspace
all.csv
usr/user_data.csv
usr/user_done_data.csv
*.png
__pycache__/VSchool_lib.cpython-36.pyc
__pycache__/vs_auto.cpython-36.pyc
*.pyc
DTpassword.txt
